    @font-face {
        font-family: Lato;
        src: url("assets/fonts/Lato-Regular.ttf");
    }

    @media (max-width: 768px) {
        section {
            width: 100%;
        }
    }

    * {
        box-sizing: border-box;
    }

    html {
        scroll-behavior: smooth;
        line-height: 30px;
    }

    body {
        font-family: 'Lato', sans-serif;
        min-height: 100vh;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }


    /* HEADER */

    header {
        background-color: black;
        position: fixed;
        width: 100%;
        left: 0;
        top: 0;
        margin: 0;
        padding: 0;
        z-index: 4;
        transition: background 0.6s ease-in-out;
    }

    .nav-list {
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;  
    }

    .nav-item {
        padding: 0 20px;
    }

    .nav-link , .footer-link {
        color: orange;
        padding: 10px 0px;
        line-height: 30px;
        display: inline-block;
        text-decoration: none;
        position: relative;
    }
    .nav-link:hover::after {
        width: 100%;
        left: 0;
        background-color: orange;
        transition: width ease-in-out 0.8s;
    }
    .nav-link::after {
        position: absolute;
        content: "";
        width: 0;
        right: 0;
        height: 3px;
        bottom: 5px;
        background-color: orange;
        transition: width ease-in-out 0.8s;
    }


    /* MAIN */

    main {
        margin: 120px 20px 0;
        display: flex;
        flex-wrap: wrap;
    }

    section {
        width: 50%;
    }

    h1, h2 {
        padding-bottom: 40px;   
        padding-left: 20px;
        letter-spacing: 2px;
    }

    .my-photo {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        /* clip-path: circle(); */
        margin-left: 200px;
    }

    .name {
        font-size: xx-large;
    }

    .name, .jun-dev {
        text-align: center;
    }

    .hr-name {
        border: 0;
        border-top: 3px dashed orange;
        left: 70%;
        margin-top: -20px;
        padding-bottom: 15px;
        width: 180px;
    }

    /* .name::after {
    content: "";
    position: absolute;
    left: 70%;
    margin-top: 60px;
    width: 150px;
    height: 2px;
    background-color: orange;
    } */

    .hr-photo {
        border: 0;
        border-top: 5px solid orange;
        border-radius: 5px;
        margin-top: 30px;
        margin-bottom: 30px;
        width: 200%;
    }

    .contacts-list {
        list-style: none;
        padding: 15px;
    }

    .location {
        margin-left: 4px;
    }

    .hr-general {
        border: 0;
        border-top: 2px solid orange;
        margin-top: 40px;
        margin-bottom: 40px;
        width: 95%;
    }

    code {
        font-size: large;
        /* font-family: Consolas,"courier new"; */
        background-color: #eee;
        border: 1px solid #999;
        display: block;
        padding: 20px;
    }

    .main-link, .course-link {
        text-decoration: none;
        color: orange;
    }
    .main-link:hover, .course-link:hover {
        color: darkblue;
    }

    
    /* FOOTER */

    footer {
        background-color: black;
        position:relative;
        left: 0;
        top: 0;
        margin: 0;
        padding: 0;
    }

    .footer-link:hover::after {
        width: 100%;
        left: 0;
        background-color: orange;
        transition: width ease-in-out 0.8s;
    }
    .footer-link::after {
        position: absolute;
        content: "";
        width: 0;
        right: 0;
        height: 3px;
        bottom: 5px;
        background-color: orange;
        transition: width ease-in-out 0.8s;
    }

    .footer-text {
        color: orange;
        position: absolute;
        margin: 20px;
    }

    .rs-logo {
        block-size: 50px;
        float: right;
        margin: 20px;
    }
